  
  /* ----------font----------- */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&display=swap');

  /* ----------general style----------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
a{
     text-decoration: none; 
}

.section-title{
    color:#334155;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
}
  /* ----------header section----------- */

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-bottom: solid 1px #655e5d;

}
.header_home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    
}
.border-sign{
    border-right: 1px solid #0d0c0c;
    padding-right: 5px;
}
.create_account{
    padding-right: 10px; 
    padding-left: 5px;
}
.rightSide{
    display: flex;
    align-items: center;
}

.rightSide div{
    display: flex;
    align-items: center;

}
    /* ----------- style  --------------- */
.accessoires{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    margin: 30px;
}

.accessoire-element{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #695e5e;
}

.accessoire-name{
    padding-left: 50px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
font-weight: 400;
    font-size: 1.7rem;
    color: #94A3B8;
}
.accessoire-element img{
    padding-left: 10px;
}

.accessoire-left{
    width: 30%;
    
}
.best-remise{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   gap: 1%;
}

.imageproduct{
    width: 100%;
}
.remise-item{
    border-radius: 5px;
    background: #E2E8F0;
}
.item-price {
    font-size: 3.5rem;
    margin-left: 15px;
    

}
.span-relative{
    position: relative;
}
.item-price .posetion-span{
    width: 60px;
    height: 2px;
    background-color: red;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    transform: rotate(10deg);
}
.item-price span{
    font-size: 2rem;
    color: #475569;
}
.item-discreption{
    font-size: 2.2rem;
    color: #475569;
    margin-left: 15px;
    margin-top: 5px;
}
.item-reviews{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.stars-review{
    display: flex;
    align-items: center;
   
}
.icon5star{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color:#FACC15;
}
.icon5star span{
    font-size: 2.2rem;
    color: white;
}
.item-solid{
    margin-left: 15px;
    padding-left: 10px;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #94A3B8;
    border-left: solid 1px #220500;
}
.item-icon{
    
    border-radius: 25px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #FACC15;
}
.section-remise{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.best-remise{
    width: 100%;
}

.best-product{
    margin-top: 40px;
    margin-bottom: 20vh;
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    background-color: #334155;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    bottom: 0;
    width: 100%;
    
}
.infos a{
    font-size: 2rem;
    color: #E2E8F0;
    margin-bottom: 30px; 
}
.infos{
    display: flex;
    gap: 50px;
    
}
/*------------------------ page 2-----------------------*/
main{
    margin-left: 20px;


}
.product-container{
    width: 85vw;
}
.side-bar-left{
    width: 15vw;
}
.main-product{
    display: flex;

}
.sort-bar-product{
    display: flex;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    grid-column: auto;
    
}
.radio-btn-product{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.radio-btn-product > label {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 6px;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px 20px;
}
.check{
    width: 200px;
    height: 30px;
}
.All_Check{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.All_Check input{
    accent-color: yellow;
}
/*---------------page 3----------*/
.image_article{
    
    margin-top: 15px;
}
.div_article{
   
}