
@media (max-width: 700px){
   /* ------------------------contact------------------------- */
    .input_all_info{
        display: block;
     }
     .input_info{
        width: 100%;
     }
     .map_container iframe{
        width: 100%;
        margin-top: 10%;
        height: 60vh;
     }
     .header_home {
      width: 50%;
     }
     .rightSide{
      display: none;
     }
     .sidebare{
      display: inline;
  }
    
  /* ------------------------index_page------------------------- */
      .best-remise{
         flex-wrap: wrap;
      }
      .accessoires{
         margin: 0;
         flex-wrap: wrap;
      }
      .accessoire-left{
         width: 100%;
         
      }
      .hero-Img img{
         width: 100%;
      }
   /* --------------------product list page-------------------- */
      .main-product{
         display: block;
         margin-left: 0;
      }
      .side-bar-left{
         width: 100vw !important;
         display: flex;
         justify-content: space-around;
      }
      .sort-bar-product{
         align-items: self-end;
      }
      .radio-btn-product > label{
         padding: 5px 3px;
         
      }
      .radio-btn-product{
         gap: 1rem;
         font-size: 0.8rem; 
      }
      .main-product{
         margin-left: 10px;
     }
  /*--------------------product detail style------------  */
      .Product_info{
         display: block;
      }
      .all_color div {
         width: 5rem;
         height: 5rem;
      }
      .info_shop p {
         font-size: 1.5rem;
         padding-bottom: 1.5rem;
         align-items: center;
      }
      .info_shop h2 {
         font-size: 2rem;
         padding-top: 1rem;
      }
      .skip h2{
         font-size: 2rem;
         text-decoration-color: none;
      }
      .skip-local{
         align-items: center;
      }
      .skip-local h5{
         font-size: 2rem;
      }
      .discreption_section p {
         font-size: 1rem;
     }
     .text-img, .half-grid{
      display: block;
      gap: 1rem;
      }
      .div_review .review_stars{
         width: 310px;
      }
      .user_comnt_stars {
         display: block;
         align-items: center;
         justify-content: center;
         padding-top: 1rem;
         padding-bottom: 1rem;
     }
     .commentaire {
      font-size: 1.5rem;
     }
/* --------------page 4---------------- */
   
   .panier{
      display: block;
   }
   
   .panier_product_details h4 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
  }
  .panier_product_details button {
   margin-bottom: 0.5rem;
   margin-right: 2.5rem;
   border-radius: 0.5rem;
   padding: 0.4rem 1rem;
   
  }
  .heart_trash img {
   height: 1.8rem !important;
  }
  .buttons {
   margin-top: 1rem;
  }
  .rectangle {
   width: 12rem;
   height: 8rem;
  }
  .confirmation_shopping span, .confirmation_shopping h2, .confirmation_shopping p {
   font-size: 1.5rem;
  }
}  
@media (min-width: 992px) and (max-width: 1199px){
   /* ------------------------index_page------------------------- */
    
}