  
  /* ----------font----------- */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;800&display=swap');

  /* ----------general style----------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
a{
     text-decoration: none; 
}

.section-title{
    color:#334155;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
}
  /* ----------header section----------- */

.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    border-bottom: solid 1px #655e5d;

}
.header_home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    
}
.border-sign{
    border-right: 1px solid #0d0c0c;
    padding-right: 5px;
}
.create_account{
    padding-right: 10px; 
    padding-left: 5px;
}
.rightSide{
    display: flex;
    align-items: center;
}

.sidebare{
    display: none;
    font-size: 2rem;
}

.rightSide div{
    display: flex;
    align-items: center;

}
    /* ----------- style  --------------- */
.accessoires{
    display: flex;
    gap: 2rem;
    margin: 30px;
}
.btn-retui{
    background-color: linen;
    user-select: none;
}
.accessoire-element{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #695e5e;
    opacity: 1;
    transition: opacity 1s;
}
.hidden{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
 
}
.main_index{
    position: relative;
}
#panier_content{
    position: absolute;
    top: 0;
    right: 1rem;
    background-color: linen;
    padding: 1rem;
    border-radius: .4rem;
}
.accessoire-name{
    padding-left: 50px;
    padding-right: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
font-weight: 400;
    font-size: 1.7rem;
    color: #94A3B8;
}
.accessoire-element img{
    padding-left: 10px;
}

.accessoire-left{
    width: 30%;
    
}
.best-remise{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
   margin-bottom: 2rem;
   gap: 2.5rem;
}
.remise-item-empty{
    width: 80rem;
}

.imageproduct{
    width: 100%;
}
.remise-item{
    border-radius: 5px;
    background: #E2E8F0;
}
.item-price {
    font-size: 3.5rem;
    margin-left: 15px;
    

}
.span-relative{
    position: relative;
}
.item-price .posetion-span{
    width: 60px;
    height: 2px;
    background-color: red;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    transform: rotate(10deg);
}
.item-price span{
    font-size: 2rem;
    color: #475569;
}
.item-discreption{
    font-size: 2.2rem;
    color: #475569;
    margin-left: 15px;
    margin-top: 5px;
}
.item-reviews{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.stars-review{
    display: flex;
    align-items: center;
   
}
.icon5star{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    background-color:#FACC15;
}
.icon5star span{
    font-size: 2.2rem;
    color: white;
}
.item-solid{
    margin-left: 15px;
    padding-left: 10px;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #94A3B8;
    border-left: solid 1px #220500;
}
.item-icon{
    
    border-radius: 25px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #FACC15;
}
.section-remise{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.best-remise{
    width: 100%;
}

.best-product{
    margin-top: 40px;
    margin-bottom: 20vh;
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    background-color: #334155;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    bottom: 0;
    width: 100%;
    
}
.infos a{
    font-size: 2rem;
    color: #E2E8F0;
    margin-bottom: 30px; 
}
.infos{
    display: flex;
    gap: 50px;
    
}
/*------------------------ page 2-----------------------*/
main{
    margin-left: 20px;
    margin-right: 2rem;
}
.product-container{
    width: 85vw;
}
.side-bar-left{
    width: 15vw;
}
.main-product{
    display: flex;

}
.sort-bar-product{
    display: flex;
    justify-content: space-between;
}
.sort-bar-product > h3 > .kay,
.sort-bar-product > h3 {
    font-size: 2.5rem;
    padding: 2rem 2rem;
}
.checkbox{
    display: flex;
    grid-column: auto;
    
}
.radio-btn-product{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.radio-btn-product > label {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 6px;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px 20px;
}
.check{
    width: 200px;
    height: 30px;
}
.All_Check{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.All_Check input{
    accent-color: yellow;
}
/*---------------page 3----------*/
/*--------section 1------*/
.Product_info{
    display: grid;
    grid-template-columns: 35% 30% 25%;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.image_article{
    width: 100%;
}

.article_1{
    margin: 2rem;
}

.div_article{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    
    gap: 2rem;
}
.div_article div{
    width: 20%;
    background-color: rgb(199, 189, 189);
    gap: 2rem;
}
.article_2{
    display: grid;
    padding: 2rem;
}
.titre_info_product h2{
    font-size:  3.2em;
    padding-right: 10px;
    padding-left: 15px;
    
}
.icon_5stars_sold{
    display: grid;
    grid-template-columns: 20% 50%; 
    /* justify-content: space-evenly; */
    gap: 2rem;
    grid-template-rows: 4rem;
}
.text-info h3{
    margin-top: 1rem;
    font-size: 2rem;
}
.text-info p{
    margin-top: 1rem;
    font-size: 1.5rem;
}
#item-solid{
    padding: 6px 26px;
}
.all_size, .all_color{
    display: grid; 
    grid-template-columns: 20% 20% 20% 20%; 
    text-align: center;
    justify-items: center;
    gap: 7%;
    margin-top: .5rem;
}
.size_all_size, .color_product {
    font-size: medium;
    padding-top: 2rem;
}
.all_size > div {
    border: 1px solid black ;
    padding: .5rem 1rem ;
    width: 80%;
    color: #D9D9D9;
}

.all_color div{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}
.green_cercle {
    background-color: #0CBC1EC7;
}

.white_cercle{
    background-color: #9FA1A21F;

}
.blue_cercle{
    background-color: #6ECFF8C7;

}
.black_cercle{
    background-color: #000000;
}
.article_3{
    display: grid;
    background-color: #D9D9D9;
    padding-left: 4%;
    padding-right: 5%;
}
.skip_maroc{
     display: grid;
     align-items: center;
}
.maroc{
    display: grid;
    grid-template-columns:  20% 50%;
}
.skip{
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-content: space-between;
}
.skip-local{
   display: inline-flex;
   justify-content: end;

}
.info_shop h2{
    font-size: 2rem;
}
.info_shop p{
    font-size: 2.5rem;
    padding-bottom: 3rem;

}
#shoping-p-border{
    border-bottom: 1px solid #0d0c0c;
}
.buttons{
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 1rem;

}
.botton-plus{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 50%;
}
.botton-soustraction{
    padding: 1rem;
    width: 17px;
    height: 17px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: yellow;
}
.btn_add_chat_share{
    
}
.btn_Add{
    display: grid;
    height: 8rem;
    gap: 4px;
}
.btn_addto{
    background-color: #0F970B;
    color: #fff;
    font-size: 2rem;
}
.btn_confirmation{
    background-color: #fff;
    color: #0F970B;
    font-size: 2rem;
    font-family: Imbue;
}
.chat_share{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    
    gap: 1rem;
    /* grid-template-columns: 70% 30%; */
}
.chat{
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
}
 .A, .B{
    font-weight:bolder;
    color: #000000;
    font-size: 1.7rem;
}
.share{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content:flex-end;
}
.share svg{
    height: 3rem;
}
/*--------section 2------*/
.discreption_section{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.discreption_section h2{
    font-size: 4rem;
}
.discreption_section p{
    font-size: 2.5rem;
}
.text-img, .half-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    margin-top: 5rem;
}
.text-img img{
    width: 100%;
    grid-column: 2;
}
/* -----------section3--------*/
.div_review .review_stars{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 40px;
    border-radius: 25px;
    background-color: #FACC15;
}
.review_stars  span{
    font-size: 2rem;
}
.div_review h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.div_review h5{
    text-align: center;
    font-size: 2rem;
    font-family: normal;
}
.statistique-reviews{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
}
.statistique-reviews span{
    font-size: large;
}
.statistique_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.static_rview{
    display: flex;
    align-items: center;
    width: 50%;
}
.orangr-80{
    background-color: orange;
    width: 80%!important;
    height: 1rem!important;
}
.brown-20{
    background-color: brown;
    width: 20%!important;
    height: 0.4rem!important;
}
.circel{
    background-color: rgb(80, 85, 90);
    width: 5rem !important;
    height: 5rem !important;
    border-radius: 50%;
}
.user_comnt{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.user_comnt_stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentaire{
    font-size: 2rem;
}
.user_comnt h2{
    font-size: 2rem;
}

.recommandend_product h6{
    font-size: 2rem;
    margin: 1rem 0;
}

.recommandend_product{
    margin: 2rem 0;
    
}
.panier{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
    margin: 1.5rem 0;
    margin-bottom: 14rem;
}
.panier_product{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}
.rectangle{
    width: 20rem;
    height: 13rem;
    background-color: #D9D9D9;
}
.panier_product_details{
    display: flex;
    gap: 2rem;
}
.panier_product_details h4{
    margin-bottom: 0.5rem;
    font-size: 3rem;
}
.panier_product_details h5{
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}
.panier_product_details button{
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem ;
    border: none;
}
.heart_trash img{
    width: 2.5rem !important;
    height: 2.2rem !important ;
}

.panier > div {
    background: rgba(217, 217, 217, 0.22);
}
.confirmation_shopping{
    padding: 3rem;
}
.confirmation_shopping > h4{
    font-weight: bolder;
    font-size: 3rem;
}
.livraison, .shop, .total{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}
.confirmation_shopping button{
    width: 100%;
    padding: 1rem 4rem;
    border: none;
    border-radius: 1rem;
    background-color: #37D95B;
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.confirmation_shopping span, 
.confirmation_shopping h2,
.confirmation_shopping p
{
    font-size: 3rem;
}

/* -------------------contact page style------------------ */
.contact_us{
    margin: 5%;
}
.titel_contact_us{
    font-size: 4rem;
    padding-bottom: 2%;
}
.Aider{
    font-size: 2.5rem;
}
.input_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
 }
 .input_info input{
    border: none;
    height: 6rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    padding-left: 2.5rem;
    background-color: #ffffff;
    outline: none;
    color: #282626;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
 }
 textarea{
    border: none;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    padding-left: 2.5rem;
    background-color: #ffffff;
    outline: none;
    color: #282626;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
 }
 .input_all_info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:5rem;
    margin-bottom: 5rem;
 }
 
 .select-box option{
    color: #282626;
    font-size: 2rem;
 }
 /*--- button  style---*/
.send_btn{
    border-radius: 10px;
    color: white;
    background-color: rgb(212, 153, 45);
    font-size: 1.6rem;
    padding: 2.5rem 5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
    width: 50%;
 }
 .primary-btn:hover{
    color: white ;
    background-color: #0b8942;
    font-size: 1.8rem;
    padding: 2.6rem 5.2rem;
 }
 .map_container p{
    font-size: 2rem;
    padding-top: 3%;
 }